In [2]:
import pandas as pd

In [4]:
s1=pd.Series([2,4,5,6])

In [5]:
s1

0    2
1    4
2    5
3    6
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [8]:
#extracting a single element
p1=pd.Series([4,5,7,8,9,2])

In [9]:
p1[3]

8

In [ ]:
#extracting a sequence of element

In [10]:
p1[:4]

0    4
1    5
2    7
3    8
dtype: int64

In [11]:
p1[-3:]

3    8
4    9
5    2
dtype: int64

In [12]:
p1*3

0    12
1    15
2    21
3    24
4    27
5     6
dtype: int64

In [13]:
##Pandas Dataframe
pd.DataFrame({'Name':['SK',"DS",'RK'],'Address':['IL','AZ','PA']})

  Name Address
0   SK      IL
1   DS      AZ
2   RK      PA

In [14]:
#Loading dataset
iris=pd.read_csv('iris.csv')

In [15]:
#see first five records
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [29]:
##see last five records
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [30]:
iris.shape

(150, 5)

In [31]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [32]:
#column and rows extracting by index
iris.iloc[5:10,2:]

   petal_length  petal_width        class
5           1.7          0.4  Iris-setosa
6           1.4          0.3  Iris-setosa
7           1.5          0.2  Iris-setosa
8           1.4          0.2  Iris-setosa
9           1.5          0.1  Iris-setosa

In [33]:
#column and rows extracting by name
iris.iloc[1:10,("petal_length","petal_width")]

IndexingError: Too many indexers

In [ ]:
#drop the column
#axis=1 for dropping column and axis=0 is for dropping row

In [34]:
iris.drop('class',axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [36]:
#dropping rows
r1=iris.drop([1,2,3],axis=0)

In [37]:
r1.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [40]:
#iris stat
iris.mean()

/tmp/ipykernel_5715/1411247966.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [46]:
iris.median()

/tmp/ipykernel_5715/1297003277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [42]:
iris.max()

sepal_length            4.3
sepal_width             2.0
petal_length            1.0
petal_width             0.1
class           Iris-setosa
dtype: object

In [43]:
iris.min()

sepal_length            4.3
sepal_width             2.0
petal_length            1.0
petal_width             0.1
class           Iris-setosa
dtype: object

In [47]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [48]:
#double the column's values
def double_make(s):
    return s*2

In [49]:
iris[['sepal_width','petal_width']].apply(double_make)

     sepal_width  petal_width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [ ]:
#Count values in categorical column

In [50]:
iris['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [51]:
#sorting the dataset
iris.sort_values(by='sepal_width')

     sepal_length  sepal_width  petal_length  petal_width            class
60            5.0          2.0           3.5          1.0  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
119           6.0          2.2           5.0          1.5   Iris-virginica
68            6.2          2.2           4.5          1.5  Iris-versicolor
41            4.5          2.3           1.3          0.3      Iris-setosa
..            ...          ...           ...          ...              ...
16            5.4          3.9           1.3          0.4      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa

[150 rows x 5 columns]